<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- This tag was added by gihanjayatilaka[at]eng[dot]pdn[dot]ac[dot]lk. Please dont remove it. -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-DY8XVXBFW6"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-DY8XVXBFW6');
        </script>
        <!-- End of google tag -->

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="{{ page.description | default: site.description }}" />
        <meta name="author" content="" />
        <title>{{ page.title | default: site.title }}</title>
        <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ '/css/styles.css' | relative_url }}" rel="stylesheet" />
    </head>
    <body id="page-top">
        {{ content }}

        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ '/js/scripts.js' | relative_url }}"></script>
    </body>
</html>